// Fonts

$font-primary: "Inter", sans-serif;

// Colors

$color-green: #52b788;
$color-light: #fafafa;
$color-dark-gray: #272932;
$color-background: #f8f8f8;

// Section max width

$section-max-width: 1100px;

// Border radius

$border-radius: 10px;
