@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.episodes-main-view-container {
  align-items: center;
  background-color: $color-background;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  .episodes-main-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $section-max-width;
    padding: 20px;
  }
}
