@import "./variables.scss";
@import "./mixins.scss";
@import "./reset";

.header {
  align-items: center;
  background-color: $color-green;
  display: flex;
  justify-content: center;
  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $section-max-width;
    padding: 20px;
    width: 100%;
    .homepage-link {
      color: $color-light;
      text-decoration: none;
      .page-title {
        font-weight: 600;
      }
    }
    .switch-mode-button {
      align-items: center;
      background-color: $color-light-green;
      border: none;
      border-radius: 5px;
      color: $color-light;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      padding: 10px;
      .switch-mode-icon {
        margin-right: 10px;
      }
    }
  }
}
